<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Detail</title>
  </head>
  <body>
    <h1>{{post.title}}</h1>

    <p>{{post.content}}</p>
    <div style="text-align: center;">
     <h2>COMMENT: </h2>
    {{#if post.comments}}

      {{#each post.comments}}
        {{this.author}}:
        {{this.comment}}
        </br>
      {{/each}}
    {{else}}
      <p>No Comment</p>
    {{/if}}

    <form action="/comment/{{post.id}}" method="POST">
      <input style="padding: 10px;" type="text" name="author" placeholder="author" required /><br
      />
      <textarea style="margin: 10px;"
        name="comment"
        placeholder="comment"
        required
      ></textarea><br />
      <button type="submit">Submit</button>
    </form>
  </div>
  </body>
</html>