<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {{#each posts}}
        <div class="post">
          <h2>{{this.title}}</h2>
          <p>{{this.content}}</p>

          <a href="/post/{{this.id}}">Xem chi tiết</a>
          |
          {{!-- <a href="/delete/{{this.id}}">Xóa bài viết</a> --}}
          <form action="/delete" method="post">
            <input type="text" hidden value="{{this.id}}" name="id" />
            <button type="submit"> Delete </button>
          </form>

          {{!-- <a href="/edit/{{this.id}}">Sửa bài viết</a> --}}
          {{!-- <form action="/edit/{{this.id}}" method="post">
            <input type="text" hidden value="{{this.id}}" name="id" />
            <button type="submit"> Edit </button>
          </form> --}}
          <form action="" method="post">
            <button type="submit"><a href="/edit/{{this.id}}">Edit </a></button>
          </form>
        </div>
      {{/each}}
    </div>

    <div>
      <form action="/" method="POST">

        <input type="text" name="title" placeholder="Tiêu đề" required /><br />
        <textarea name="content" placeholder="Nội dung" required></textarea><br
        />
        <button type="submit">post</button>
      </form>
    </div>
  </body>
</html>